# Rust
/target/

# Node
**/.next/
**/node_modules/
.pnpm-debug.log*
npm-debug.log*
next-env.d.ts

# Environment files
**/.env
**/.env.*
!**/.env.example

# Secrets
/certs/*
/keys/*

# Gitkeep
!**/.gitkeep
!**/README.md

# Python3
**/.venv/
**/__pycache__/
/ruff_cache/

# Junk
.DS_Store
