# Rust
/target/
rustc-ice-*.txt

# Node / Bun
**/.svelte-kit/
**/node_modules/
**/build/
.bun-debug.log*

# Environment files
**/.env
**/.env.*
!**/.env.example

# Secrets
/certs/*
/keys/*

# Gitkeep
!**/.gitkeep
!**/README.md

# Python3
**/.venv/
**/__pycache__/
/ruff_cache/

# Junk
.DS_Store

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
