ENV=
ADDR=
ENTRA_ID_TENANT_ID=
ENTRA_ID_CLIENT_ID=
ENTRA_ID_SCOPE=
ALLOWED_ORIGINS=
PORTKEY_BASE_URL=
PORTKEY_PROVIDER=
PORTKEY_API_KEY=
DEFAULT_MODEL=
DEFAULT_EMBEDDING_MODEL=
QDRANT_URL_GRPC=
QDRANT_URL_HTTPS=
QDRANT_COLLECTION=
